# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#msvc projects
*.sdf
*.user
*.filters
*.suo
*.opensdf
*.vcxproj.user
#Qt temp
GeneratedFiles

Win32/temp
Win32/Debug
Win32/Release
!Win32/Release/register.bat
!Win32/Release/unregister.bat